/* The Modal (background) */
.modal {
    display: block; /* Hidden by default (none/block)*/
    position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 1700px; /* Full width */
    height: 1100px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(230,239,255,1); /* Black w/ opacity */
}
.modal-content {
	position: absolute;
    left: 1%;
	top: 28px;
    width: 98%;
	height: 95%;
	box-shadow: 5px 5px 15px 3px #111;
	border-radius:10px;
	background-color: white;
}

#myModal_title{
	z-index:2;
	background-color: transparent;
}
#modal_content_title{
	width:60%;
	height:700px;
	background-color: transparent;
	border-radius: 10px;
	
	box-shadow: 0px 0px 0px 0px #111 !important;
	
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
#modal_content_title div{
	width:50%;
	height:100px;
	
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.8);
}
#modal_text_title{
	color:white;
	font-size: 26px;
	padding-left: -100px;
}
#modal-title{
	background-color: RGB(255,204,0);
	width: 100%;
	height: 80px;
	border-radius:  10px ;
	color: #333;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
}
.modal-row{
	position: relative;
	float:left;
	width: 33%;
	text-align: center;
	margin-top:8px;
	height:75%;
}
#mapid1{
	//background-color: yellow;
	width: 100%;
	height: 92%;
	border-radius: 5px;
	color: #333;
	font-weight: bold;
	font-size: 1.2em;
	text-align: left;
}
.vCenter{
	position: absolute;
	top: 50%;
	right: 50%;
	padding: 0px !important ;
	margin: 0px !important ;
	transform: translate(+50%, -50%);
	font-size: 20px;
}

#modal-temp{
	opacity: 0.6;
}

#modal-text p{
	text-align: right;
	right: 0%;
	transform: translate(-2%, -50%)
}
#modal-home{
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 1px 3px 1px green;
	text-align: center;
}
#modal-submit{
	background-color: #6dc066;
	margin-left: 5px;
	border-radius: 5px;
	opacity: 1;
	width: 5%;
	color: white;
	box-shadow: 1px 1px 3px 1px lightgreen;
	text-align: center;
	font-size: 1em;
	cursor: pointer;
}
#modal-submit:hover,
#modal-submit:focus{
	background-color: green;
	box-shadow: 2px 2px 5px 2px white;
	opacity: 1;
	color: white;
}

#homeCountry{
	background-color: RGB(255,204,0);
	position: relative;
	width:125px;
	height: 100%;
	border-radius: 10px 0px 0px 10px;
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	transition: 0.5s;
	
	cursor: pointer;
	
	
	animation-name: buttonBounce;
    animation-duration: 0.5s;
}
#homeCountry:after{
	content: ' \1F589';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
	
}
#homeCountry:hover:after {
	opacity: 1;
	right: 0;
	padding-right: 3px;
}
#homeCountry:hover,
#homeCountry:focus {
	background-color: RGB(255,255,102);
	box-shadow: 1px 1px 3px 1px white;
	color: black;
}
@keyframes buttonBounce{
	0%   {background-color:RGB(255,255,102); transform: scale(0.9)}
	90%   {background-color:RGB(255,255,102); transform: scale(1.05)}
	100% {background-color:RGB(255,255,102); transform: scale(1)}
}